* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background: linear-gradient(150deg, #AA53B5 0%, #3595CC 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;  
} 

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header{
    text-align: center;
    padding: 40px 0;
}

.header h1{
    font-size: 5rem;
    margin-bottom: 5px;
}

p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Fira Code", monospace;
    font-size: 1.1rem;
}

/* authentication section */
.auth-section{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
}

.auth-section h2{
    font-size: 2rem;
}

#spotify-login{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#spotify-logged-in{
    display: none;
    flex-direction: column;
    gap: 20px;
}

#spotify-button{
    align-self: center;  
    padding: 10px 20px;  
    text-align: center;
    background: #1DB954;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

#spotify-button:hover {
    background: #1ed760;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(29, 185, 84, 0.3);
}

/* features section */
.features-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    margin-bottom: 40px;
}

.feature-card{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 25px;
    transition: transform 0.3s ease;
    text-align: center;
    color: white;
    border-color: rgba(255, 255, 255, 0.0);
}

.feature-card:nth-child(5) {
    grid-column: 1 / -1;
}

.feature-card h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.feature-card:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-5px);
}

.feature-card.is-active{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 30px rgba(0,0,0,0.25);
    transform: translateY(-6px);
}
